<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome To Exposys!</h1>
    <p class="secret-text">"To Enter Your Project Details click on Deatils button</p>
    <hr>
   
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Details</a>
  </div>
</div>

<%- include('partials/footer') %>
